.btn-red {
  @include btn-base;

  color: $c-bg-main;
  background-color: $c-btn;

  &:hover {
    background-color: $c-btn-hover;
  }
  &:active {
    background-color: $c-btn-pressed;
  }
  &[disabled],
  &.is-disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: $c-btn-disabled;
  }
}
