.events-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 330px;

  @include on-tablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: none;

    @include grid-gap;
  }

  @include on-desktop {
    grid-template-columns: repeat(12, 1fr);

    @include grid-gap;

    max-width: 970px;
  }

  &__img-container {
    width: 100%;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }

  &__img {
    display: block;
    width: 100%;
    object-fit: cover;

    @include hover(scale, 1.05);
  }

  &__typo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: 6 / -1;
      align-self: start;
    }
  }

  &__date {
    @extend %p;

    margin: 0;
    margin-top: 20px;
    color: $c-btn;

    @include on-tablet {
      margin-top: 0;
    }
  }

  &__title {
    margin: 0;
    margin-top: 10px;
    color: $c-title;
  }

  &__typo {
    margin: 0;
    margin-top: 20px;
    color: $c-typo;
  }

  &__btn-red {
    align-self: center;
    margin-top: 30px;

    @include on-tablet {
      margin-top: 40px;
    }

    @include on-desktop {
      align-self: flex-start;
      margin-top: 50px;
    }
  }
}
