%h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: 700;
  font-style: Bold;
  line-height: 100%;

  @include on-tablet {
    @include h1-tablet;
  }

  @include on-tablet {
    @include h1-desktop;
  }
}

%h2 {
  font-family: 'Playfair Display', serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 100%;

  @include on-tablet {
    @include h2-tablet;
  }

  @include on-tablet {
    @include h2-desktop;
  }
}

%h3 {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 125%;

  @include on-tablet {
    font-size: 40px;
  }

  @include on-desktop {
    font-size: 48px;
  }
}

%h4 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 125%;

  @include on-tablet {
    @include h4-tablet;
  }
}

%h5 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;

  @include on-tablet {
    @include h3-tablet;
  }
}

%h6 {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 125%;
}

%h-btn {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
}

%p {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

%p-additional {
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
