$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$transition-time: 0.3s;
$c-bg-acent: #3f5252;
$c-bg-main: #f1f5f4;
$c-btn: #cd4d31;
$c-btn-hover: #af3419;
$c-btn-pressed: #ea340d;
$c-btn-disabled: #dd836f;
$c-title: #1c1b29;
$c-typo: #504f5e;
$c-placeholder: #1c1b29;
$c-placeholder-hover: #cd4d31;
$c-placeholder-focused: #cd4d31;
$c-form-typo: #1c1b29;
